<div class='about'>
        <div class="container-md">
           <div class="aboutHeading">
             <div>
                <h1 class='fmHeading textSanBlue text-center text-lg-start display-5 mb-5'>We empower innovators<br/>
                    by delivering access to the<br/>financial system</h1>
            </div>
            <div class="row gx-0 mb-4">
               <div class="col-md-3">
                    <div>
                          <h4 class='text-center text-md-start mb-3 mb-md-0 fmHeading textSanBlue'>Our Vision</h4>
                    </div>
               </div>
                <div class="col-md-9">
                  <div>
                        <p class='small textLightBlue text-center text-md-start'>
                          Our main goal is to build beautiful consumer experiences along with developer-friendly infrastructure. The result is an intelligent tool that gives everyone the ability to create amazing products that solve big problems. We are deeply focused on democratizing financial services through technology.
                        </p>
                  </div>
               </div>
            </div>
              <div class="row gx-0">
               <div class="col-md-3">
                    <div>
                          <h4 class=' fmHeading text-center text-md-start mb-3 mb-md-0 textSanBlue'>Our Business</h4>
                    </div>
               </div>
                <div class="col-md-9">
                  <div>
                        <p class='small textLightBlue text-center text-md-start'>
                          At the core of our platform is the technical infrastructure APIs that connect consumers. Our innovative product provides key insights for businesses and individuals, as well as robust reporting for traditional financial institutions and developers. 
                        </p>
                  </div>
               </div>
            </div>
           </div>
        </div>
</div>
 <div class='py-5'>
      <img src='../../assets/Images/about/desktop/image-team-members.jpg' alt="large about image" class='w-100 d-none d-lg-inline-block'/>
      <img src='../../assets/Images/about/tablet/image-team-members.jpg'  alt="medium about image" class='w-100 d-none d-md-inline-block d-lg-none'/>
      <img src='../../assets/Images/about/mobile/image-team-members.jpg'  alt="small about image" class='w-100  d-md-none'/>
</div>
 <div class="container-md mb-5">
      <div class="row gy-2">
         <div class="col-md-4">
            <div class=' aboutBorder topaboutBorder pt-3 pb-2 text-center text-md-start'>
                <span class='textLightBlue small mb-2 d-inline-block'>Team Members</span>
                <h6 class='display-3 textSite fmHeading mb-0 pb-0'>300+</h6>
            </div>
         </div>
          <div class="col-md-4">
            <div class=' aboutBorder pt-3 pb-2 text-center text-md-start'>
                <span class='textLightBlue small mb-2 d-inline-block'>Offices in the US</span>
                <h6 class='display-3 textSite fmHeading mb-0 pb-0'>3</h6>
            </div>
         </div>
          <div class="col-md-4">
              <div class=' aboutBorder smallaboutBorder pt-3 pb-2 text-center text-md-start'>
                <span class='textLightBlue small mb-2 d-inline-block'>Transactions analyzed</span>
                <h6 class='display-3 textSite fmHeading mb-0 pb-0'>10M+</h6>
            </div>
         </div>
      </div>
</div>
 <div class="container-md">
           <div class="aboutHeading">
            <div class="row gx-0 mb-4">
               <div class="col-md-3">
                    <div>
                          <h4 class='text-center text-md-start mb-3 mb-md-0 fmHeading textSanBlue'>The Culture</h4>
                    </div>
               </div>
                <div class="col-md-9">
                  <div>
                        <p class='small textLightBlue text-center text-md-start'>
                          We strongly believe there's always an opportunity to learn from each other outside of day-to-day work, whether it's company-wide offsites, internal hackathons, or co-worker meetups. We always value cross-team collaboration and diversity of thought, no matter the job title.
                        </p>
                  </div>
               </div>
            </div>
              <div class="row gx-0">
               <div class="col-md-3">
                    <div>
                          <h4 class=' fmHeading text-center text-md-start mb-3 mb-md-0 textSanBlue'>The People</h4>
                    </div>
               </div>
                <div class="col-md-9">
                  <div>
                        <p class='small textLightBlue text-center text-md-start'>
                          We're all passionate about building a more efficient and inclusive financial infrastructure together. At PayAPI, we have diverse backgrounds and skills.
                        </p>
                  </div>
               </div>
            </div>
           </div>
    </div>

