@import '../../styles.scss';

.about{
        background-image: url('../../assets/Images/shared/desktop/bg-pattern-circle.svg');
        background-repeat: no-repeat;
        padding-top: 100px;
        background-position: calc(100% + 400px) -650px;
}
.aboutHeading{
  width:95%;
  margin:0 auto;   
}
.smallaboutBorder{
        border-bottom: .2px solid #8DA4B4;
}
.topaboutBorder{
        border-top: .2px solid #8DA4B4;
}

@media screen and (min-width:768px){
.about{
        background-position: calc(100% + 420px) -480px;
}
.aboutHeading{
  width:100%;
  margin:0 auto;   
}
.smallaboutBorder,.topaboutBorder{
    border:none;
}

.aboutBorder{
        border-bottom: .2px solid #8DA4B4;
        border-top: .2px solid #8DA4B4;
}

            
}

@media screen and (min-width:992px){
.about{
    background-position: calc(100% + 150px) -550px;
}
.aboutHeading{
  width:85%;
}
#aboutImage{
    padding:7rem 0 !important;
    background-image: url('../../assets/Images/shared/desktop/bg-pattern-circle.svg');
    background-repeat: no-repeat;
    background-position: -650px -100px;
}
             
}

@media screen and (min-width:1200px){
    .aboutHeading{
         width:70%;
        }
     #aboutImage{
        padding:6rem 0;
        background-position: -570px -25px;
}
}

