

   <nav class="navbar navbar-expand-lg py-3">
      <div class="container-md">
        <a class="navbar-brand me-4" routerLink=""><img src='../../assets/Images/shared/desktop/logo.svg' alt="logo Image" class='w-100'/></a>
        <button class="navbar-toggler" (click)="handleOpenMenu()" ngModel #menu id='menu' type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <svg width="28" height="17" xmlns="http://www.w3.org/2000/svg" (click)="handleOpenMenu()">
              <g fill="#36536B" fillRule="evenodd">
              <path d="M0 0h28v3H0zM0 7h28v3H0zM0 14h28v3H0z"/></g>
            </svg>
        </button>
        <button class="navbar-toggler d-none" ngModel #close  id ='close' (click)="handleCloseMenu()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="22" height="23" xmlns="http://www.w3.org/2000/svg" (click)="handleCloseMenu()" >
              <path d="M19.839.54L21.96 2.66 13.12 11.5l8.84 8.839-2.121 2.121-8.84-8.84-8.838 8.84L.04 20.34l8.838-8.84L.04 2.662 2.16.54 11 9.378 19.839.54z" fill="#FBFCFE" fillRule="evenodd"/>
            </svg>
        </button>
        <div class="collapse adjustMenu navbar-collapse text-center text-lg-start" ngModel #collapse id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mx-md-auto me-lg-auto ms-lg-0 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page"   routerLinkActive="active" routerLink="/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"   routerLinkActive="active" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"   routerLinkActive="active" routerLink="/contact">Contact</a>
              </li>
            </ul>
            <button class="mainBtn scheduleBtn">Schedule a Demo</button>
        </div>
      </div>
</nav>
 