@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:wght@200;400&display=swap');

$darkPink:#ba4270;
$linkWaterWhite:#fbfcfe;
$sanBlue:#36536b;
$migBlue:#1b262f;
$charmPink:#da6d97;
$lightBlue:#6c8294;

html{
    font-family: 'Public Sans', sans-serif ;
}
.fmHeading{
    font-family: 'DM Serif Display', serif;
}

.w-90{
    width: 90% !important;
}
.textSite{
    color: $darkPink;
}
.borderBottom{
    border-bottom: .2px solid #8DA4B4;
}
.borderTop{
    border-top: .2px solid #8DA4B4;
}
.fs-7{
    font-size: 1.2rem;
}
.textTransparent{
    color:transparent;
}

.textLightBlue{
    color:$lightBlue;
}
.textLight{
    color: $linkWaterWhite;
}
.bgDark{
    background-color: $migBlue;
}
.textSanBlue{
    color:$sanBlue;
}
.button{
    padding:.7rem 1.5rem;
    border-radius: 2.2rem !important;
    border:none;
    font-size: 15px;
    font-weight:500;
}
.mainBtn{
    @extend .button;
    background-color: $darkPink;
    color:$linkWaterWhite;
    &:hover{
        background-color: $charmPink;
    }
    &:disabled{
        background-color: $charmPink;
        opacity:.5;
    }
}

.secondaryDarkBtn{
    @extend .button;
    background-color: $linkWaterWhite;
    color:$migBlue;
    border:1px solid $migBlue;
    &:hover{
        background-color: $migBlue !important;
        color:$linkWaterWhite
    }
    &:disabled{
        background-color: transparent !important;
        color:$lightBlue;
        border-color: $lightBlue;
    }
}

.secondaryLightBtn{
    @extend .button;
    background-color: $migBlue;
    color:$linkWaterWhite;
    border:1px solid $linkWaterWhite;
    &:hover{
        background-color: $linkWaterWhite;
        color:$migBlue
    }
    &:disabled{
        background-color: $migBlue;
         color:$lightBlue;
         border-color: $lightBlue;
    }
}

