    <div class='container-md'>
      <div class="row gy-0">
         <div class="col-lg-6 imageHomeHeading">
            <div class='text-center ps-5 ps-md-0'>
                <img src='../../assets/Images/home/desktop/illustration-phone-mockup.svg' alt="phone Image" class='imageHomeWidth'/>
            </div>
         </div>
         <div class="col-lg-6 align-self-center">
            <div class='text-center text-lg-start'>
               <h1 class='display-4 fw-semibold mb-4 pb-1 textSanBlue fmHeading'>Start building with our APIs for absolutely free.</h1>
               <div class="input-group mb-3 position-relative w-90 mx-auto ms-lg-0">
                <input type="email" id='emailInput'class="form-control shadow form-control-lg rounded-pill" placeholder="Enter Email Address" aria-label="Email" aria-describedby="enterEmailBtn"/>
                <button class="input-group-text mainBtn px-4 small" id="enterEmailBtn">Schedule a Demo</button>
              </div>
              <p class='textLightBlue ps-4'>
                <span class='small'>Have any Questions</span>
                <a class="text-reset text-decoration-none ms-1 fw-bold" routerLink='/contact'>Contact us</a>
              </p>
            </div>
         </div>
      </div>
    </div>
